@model BWBugTracker.Models.Ticket

@{
    ViewData["Title"] = "Edit";
}

<div class="page-header">
    <h2>Edit Ticket</h2>
</div>

<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Created" />
            <input type="hidden" asp-for="ProjectId" />
            <input type="hidden" asp-for="SubmitterUserId" />
            <div class="form-body">
                <h5 class="card-title">Edit @Model.Title</h5>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="editor form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="TicketTypeId" class="control-label">Ticket Type</label>
                            <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
                            <span asp-validation-for="TicketTypeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="TicketStatusId" class="control-label">Status</label>
                            <select asp-for="TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId"></select>
                            <span asp-validation-for="TicketStatusId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="TicketPriorityId" class="control-label">Priority</label>
                            <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                            <span asp-validation-for="TicketPriorityId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" value="create" class="btn btn-primary"> Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PortoDetails" asp-route-id="@Model.Id">Back to Details</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
