@{
    Layout = null;
}
<!doctype html>
<html class="landing simple-sticky-header-enabled">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>bwBugTracker</title>
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7COpen+Sans:400,700,800" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/template/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/template/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="~/template/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/template/vendor/boxicons/css/boxicons.min.css" />
    <link rel="stylesheet" href="~/template/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/template/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="~/template/vendor/owl.carousel/assets/owl.carousel.css" />
    <link rel="stylesheet" href="~/template/vendor/owl.carousel/assets/owl.theme.default.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/template/css/theme.css" />

    <!-- Landing Page CSS -->
    <link rel="stylesheet" href="~/template/css/landing.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/template/css/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/template/css/custom.css">

    <!-- Head Libs -->
    <script src="~/template/vendor/modernizr/modernizr.js"></script>

</head>

<body class="alternative-font-4 loading-overlay-showing" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 100}">
    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="body">

        @*<header id="header" class="header header-nav-links header-nav-menu header-transparent"
                data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': false, 'stickyEnableOnMobile': true, 'stickyStartAt': 70, 'stickyChangeLogo': false, 'stickyHeaderContainerHeight': 70}">
            <div class="header-body border-top-0 bg-dark box-shadow-none">
                <div class="header-container container h-100">
                    <div class="header-row h-100">
                        <div class="header-column">
                            <div class="header-row">
                                <div class="header-logo">
                                    <a href="#" class="goto-top">
                                        <img alt="Porto" width="102"
                                             height="45" data-sticky-width="82" data-sticky-height="36"
                                             data-sticky-top="0" src="~/template/img/lazy.png" data-plugin-lazyload
                                             data-plugin-options="{'threshold': 500}"
                                             data-original="~/template/vendor/img/logo-light.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </header>*@

        <div role="main" class="main">
            <section class="section section-concept section-no-border section-dark section-angled section-angled-reverse border-top-0 m-0"
                     id="section-concept"
                     style="background-size: cover; background-position: center; animation-duration: 750ms; animation-delay: 300ms; animation-fill-mode: forwards;"
                     data-plugin-lazyload data-plugin-options="{'threshold': 500}" data-original="~/template/vendor/img/landing/header_bg.jpg">
                <div class="section-angled-layer-bottom bg-light" style="padding: 8rem 0;"></div>
                <div class="container mb-5">
                    <div class="row align-items-center pt-3">
                        <div class="col-lg-5 mb-5">
                            <h5 class="text-primary font-weight-bold mb-1 appear-animation"
                                data-appear-animation="fadeInUpShorter" data-appear-animation-duration="750">
                                bw Bug Tracker
                            </h5>
                            <h1 class="font-weight-bold text-color-light text-13 line-height-2 mt-0 mb-3 appear-animation"
                                data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400"
                                data-appear-animation-duration="750">
                                The Best Ticket Management System<span class="appear-animation" data-appear-animation="fadeInRightShorter"
                                                                    data-appear-animation-delay="600" data-appear-animation-duration="800">
                                    <span class="d-inline-block text-primary highlighted-word highlighted-word-rotate highlighted-word-animation-1 alternative-font-3 font-weight-bold text-1 ms-2">period</span>
                                </span>
                            </h1>
                            <p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200" data-appear-animation-duration="750">
                                <div class="header-column justify-content-end">
                                    <button class="btn header-btn-collapse-nav d-lg-none order-3 mt-0 ms-3 me-0" data-bs-toggle="collapse" data-bs-target=".header-nav">
                                        <i class="fas fa-bars"></i>
                                    </button>
                                    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-gradient btn-modern btn-rounded text-3 ms-4 d-none d-sm-block">
                                        TRY bw BUG TRACKER NOW!
                                    </a>
                                </div>
                            </p>
                            <div id="popup-content-1"
                                 class="dialog dialog-lg zoom-anim-dialog rounded p-3 mfp-hide mfp-close-out">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <video width="100" height="100"
                                           autoplay muted loop controls>
                                        <source src="/video/VSCOM-intro-video-v2.mp4" type="vendor/video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="intro" class="section section-no-border section-angled bg-light border-top-0 pt-0 pb-5 m-0">
                <div class="section-angled-layer-bottom section-angled-layer-increase-angle bg-color-light-scale-1"
                     style="padding: 24rem 0;"></div>
                <div class="container pb-5" style="min-height: 1000px;">
                    <div class="row counters justify-content-center">
                        <div class="col-md-8 col-lg-6 col-xl-5 text-center">
                            <p class="sub-title text-primary text-4 font-weight-semibold positive-ls-2 mt-2 mb-4 appear-animation"
                               data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400"
                               data-appear-animation-duration="750">
                                TAKE YOUR PROJECTS TO A <span class="highlighted-word highlighted-word-animation-1 highlighted-word-animation-1-2 highlighted-word-animation-1 pos-2 alternative-font-4 font-weight-semibold line-height-2 pb-3">
                                    NEW
                                    LEVEL
                                </span>
                            </p>
                        </div>
                        <div class="col-lg-9 text-center">
                            <p class="text-1rem text-color-default negative-ls-05 pt-2 pb-4 mb-4  appear-animation"
                               data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500"
                               data-appear-animation-duration="750">
                                bw Bug Tracker is a ticket management system perfect for any company looking to boost their efficiency and productivity.
                                Check out these screenshots or try it out with a demo login!
                            </p>
                        </div>
                    </div>
                    <div class="row row-cols-2">
                        <div class="col-12 col-md-6 d-flex justify-content-center mb-4">
                            <div class="appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="750" data-appear-animation-duration="750">
                                <div class="card card-modern" style="width: 30rem;">
                                    <img src="~/img/dashboard.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-text">Quickly view company stats from the dashboard</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-center mb-4">
                            <div class="appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="750" data-appear-animation-duration="750">
                                <div class="card card-modern" style="width: 30rem;">
                                    <img src="~/img/create.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-text">Create new projects and tickets easily</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-center mb-4">
                            <div class="appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="750" data-appear-animation-duration="750">
                                <div class="card card-modern" style="width: 30rem;">
                                    <img src="~/img/index.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-text">Easily view and manage tables of projects and tickets</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-center mb-4">
                            <div class="appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="750" data-appear-animation-duration="750">
                                <div class="card card-modern" style="width: 30rem;">
                                    <img src="~/img/details.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-text">See detailed information for each project and ticket</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center mb-4">
                            <div class="appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="750" data-appear-animation-duration="750">
                                <div class="card card-modern" style="width: 30rem;">
                                    <img src="~/img/manage-roles.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-text">Assign and manage user roles</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <footer id="footer" class="bg-color-dark-scale-5 border border-end-0 border-start-0 border-bottom-0 border-color-light-3 mt-0">
            <div class="copyright bg-color-dark-scale-4 py-4">
                <div class="container text-center py-2">
                    <ul class="social-icons social-icons-big social-icons-dark-2">
                        <li class="social-icons">
                            <a href="http://www.twitter.com/bwseats" target="_blank" title="Twitter">
                                <i class="fab fs-20 fa-twitter"></i>
                            </a>
                        </li>
                        <li class="social-icons">
                            <a href="http://www.github.com/bwseats" target="_blank" title="github">
                                <i class="fab fs-20 fa-github"></i>
                            </a>
                        </li>
                    </ul>
                    <p class="mb-0 text-2 ls-0">&copy; 2023 Benjamin Seats</p>
                </div>
            </div>
        </footer>

    </div>

    <!-- Vendor -->
    <script src="~/template/vendor/jquery/jquery.js"></script>
    <script src="~/template/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/template/vendor/popper/umd/popper.min.js"></script>
    <script src="~/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/template/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/template/vendor/common/common.js"></script>
    <script src="~/template/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/template/vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="~/template/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->
    <script src="~/template/vendor/jquery-appear/jquery.appear.js"></script>
    <script src="~/template/vendor/owl.carousel/owl.carousel.js"></script>
    <script src="~/template/vendor/jquery.lazyload/jquery.lazyload.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/template/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/template/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/template/js/theme.init.js"></script>

</body>
</html>

