@model BWBugTracker.Models.Invite

@{
    ViewData["Title"] = "Create";
}

<style>
    .ck-editor__editable_inline {
        min-height: 200px;
    }
</style>

<div class="page-header">
    <h2>Invite New User</h2>
</div>
<div class="col-lg-6 col-md-12">
    <div class="card custom-card">
        <div class="card-body">
            <div>
                <p class="text-muted card-sub-title">Invite a new user to join your Bug Tracker company.</p>
            </div>
            <form asp-action="Create" method="post">
                <div class="row row-xs align-items-center my-3">
                    <div class="col-md-4">
                        <label class="mg-b-0">Email</label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0">
                        <input type="email" asp-for="InviteeEmail" class="form-control" placeholder="Enter email">
                    </div>
                </div>
                <div class="row row-xs align-items-center my-3">
                    <div class="col-md-4">
                        <label class="mg-b-0">First Name</label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0">
                        <input type="text" asp-for="InviteeFirstName" class="form-control" placeholder="Enter first name">
                    </div>
                </div>
                <div class="row row-xs align-items-center my-3">
                    <div class="col-md-4">
                        <label class="mg-b-0">Last Name</label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0">
                        <input type="text" asp-for="InviteeLastName" class="form-control" placeholder="Enter last name">
                    </div>
                </div>
                <div class="row row-xs align-items-center my-3">
                    <div class="col-md-4">
                        <label class="mg-b-0">Select Project</label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0">
                        <select class="form-control" asp-for="ProjectId" asp-items="@ViewBag.ProjectId">
                            <option value="">Select Project</option>
                        </select>
                    </div>
                </div>
                <div class="row row-xs align-items-center my-3">
                    <div class="col-md-4">
                        <label class="mg-b-0">Message</label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0">
                        <textarea asp-for="Message" multiple="multiple" class="editor form-control"></textarea>
                    </div>
                </div>
                <div class="form-group row justify-content-end mb-0">
                    <div class="col-md-8 pl-md-2">
                        <input type="submit" class="btn ripple btn-primary pd-x-30 mg-r-5" value="Send Invite" />
                        <a asp-action="PortoIndex" class="btn ripple btn-secondary pd-x-30">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-light btn-sm mt-3">Back to List</a>
</div>
@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('.editor'), {
                licenseKey: '',
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error('Oops, something went wrong!');
                console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                console.warn('Build id: xx09iayzufkn-lkt434h3lx2z');
                console.error(error);
            });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}